.jumbotron {
  //background: url('../images/me3.png') no-repeat center center;
  height: 500px;
  //background-color: #1790aa;
  background-color: black;
  color: white;
  border-radius: 0px !important;
}

.container-body {
  padding-top: 20px;
}

.jumbotron-music {
  background-image: url('../images/Headphones.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 500px;
}

.jumbotron-dev {
  background-image: url('../images/Macbook.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 500px;
}

.jumbotron-resume {
  background-image: url('../images/notepad.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 500px;
  padding-bottom: 5px;
}

img {
  //opacity: 0.5;
  //filter: alpha(opacity=50); /* For IE8 and earlier */
  max-height: 100%;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.center-content {
  text-align: center;
  padding-bottom: 20px;
}

.center-text {
  text-align: center;
}

p {
  margin: 20px 200px 20px;
}