<!-- Home/About page content -->
<!-- Jumbotron -->
<div class="jumbotron-about"></div>

<div class="container container-body">
  <div class="row">
      <h2 class="center-text">Who I Am</h2>

      <p>Hi, my name is Jay and I'm a professional Software Developer living in Boston. I am a full stack Java/Javascript/SQL developer who is involved in 
	solving complex business problems on the back end, as well as creating sleek and responsive web applications to improve user
	experience on the front end.</p>

      <p>Outside of work I enjoy producing <span ng-click="setSelectedFromLink('music')"><a href="#/music">music</a></span>, <span ng-click="setSelectedFromLink('photography')"><a href="#/photography">photography</a></span>, and developing <span ng-click="setSelectedFromLink('devwork')"><a href="#/devwork">web and mobile applications</a></s\
pan>.</p> 
      
      <p>I never get tired of kicking it with my friends, debating music, and Boston sports. Lastly, I like my coffee black and my 
	drink dark.
      </p>
      
      <div id="pats-gif"></div>
  </div>
</div>
